In [1]:
import os
import datetime
import shutil
import numpy as np
import pandas as pd

In [2]:
##Enter Server Details
model_server = "files\modelServer\etc\\"
new_server = "files\\newServer\etc\\"

In [3]:
##Taking backup of original File Model Server
file = input("Enter file to copy (without extention): ")
original_file = new_server + file + ".txt"
file_name, file_extension = os.path.splitext(original_file)
new_file = file_name + '_NEW_' + datetime.datetime.now().strftime("%Y-%m-%d") + file_extension
backup_file = file_name + '_BKP' + datetime.datetime.now().strftime("%Y-%m-%d") + file_extension
shutil.copy(original_file, backup_file)
print("Backup created:",backup_file)

Enter file to copy (without extention): group
Backup created: files\newServer\etc\group_BKP2024-03-10.txt

In [38]:
##Reading entries from file in model server
source_file = open(model_server + file + '.txt', 'r')
s_entries = source_file.readlines()
source_file.close()
s_entries

['root:sdvsd:100:\n',
 'unixsa:asdvasdv:101:nkumar10,draj,rrai,ksharm\n',
 'oracledb:sdvasdv:102:abc,abd,abg\n',
 'storageops:ssfeww:103:mganes,ysanam,jmitha\n',
 'info:qwqew:104:ravi,jitu\n',
 'aaa:aedweu:105:']

In [39]:
##Taking entries from file in new server
dest_file = open(original_file, 'r')
d_entries = dest_file.readlines()
dest_file.close
d_entries

['root:sdvsd:100:\n',
 'unixsa:asdvasdv:101:\n',
 'oracledb:sdvasdv:102:abc,abd,abg\n',
 'storageops:ssfeww:103:mganes,ysanam,jmitha\n',
 'engg:asaewwe:107:ahegde,saryaop']

print("Comparing entries from model server....")

##Comparing and adding missing entries in passwd,shadow, users.ignore
for line in s_entries[s_entries.index('unixsa\n'):]: #Checking for entries after unixsa
    if (line[0]=='#'):
        print ("Not copied (Commented):", line)
        continue
    try:
        d_entries.index(line)
    except:
        d_entries.append(line)
        print('Added:',line)
    else:
        print ('Already present:',line)

##Update missing entries in file
file = open(new_file,"w")
file.writelines(d_entries)
file.close()

In [56]:
type(s_entries[0])

str

In [68]:
##Splitting arrays with delimiter ':'
s_list = np.array(s_entries)
s_list = np.char.split(s_list, sep=":")
s_list

array([list(['root', 'sdvsd', '100', '\n']),
       list(['unixsa', 'asdvasdv', '101', 'nkumar10,draj,rrai,ksharm\n']),
       list(['oracledb', 'sdvasdv', '102', 'abc,abd,abg\n']),
       list(['storageops', 'ssfeww', '103', 'mganes,ysanam,jmitha\n']),
       list(['info', 'qwqew', '104', 'ravi,jitu\n']),
       list(['aaa', 'aedweu', '105', ''])], dtype=object)

In [96]:
##Splitting arrays with delimiter ':'
d_list = np.array(d_entries)
d_list = np.char.split(d_list, sep=":")
d_list

array([list(['root', 'sdvsd', '100', '\n']),
       list(['unixsa', 'asdvasdv', '101', '\n']),
       list(['oracledb', 'sdvasdv', '102', 'abc,abd,abg\n']),
       list(['storageops', 'ssfeww', '103', 'mganes,ysanam,jmitha\n']),
       list(['engg', 'asaewwe', '107', 'ahegde,saryaop'])], dtype=object)

            0         1    2                          3
0        root     sdvsd  100                        NaN
1      unixsa  asdvasdv  101  nkumar10,draj,rrai,ksharm
2    oracledb   sdvasdv  102                abc,abd,abg
3  storageops    ssfeww  103       mganes,ysanam,jmitha
4        info     qwqew  104                  ravi,jitu
5         aaa    aedweu  105                        NaN