In [63]:
import os
from datetime import datetime as dt
import numpy as np
import shutil
import pandas as pd

In [78]:
pip install pandas

Requirement already satisfied: pandas in c:\users\asus\anaconda3\lib\site-packages (1.4.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\asus\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [64]:
##Enter Server Details
model_server = "files\\test\\"
new_server = "files\\test\\"

In [65]:
##Taking backup of original File Model Server
timestamp = str(dt.now().strftime("%Y-%m-%d-%H-%M-%S"))
file = "newGroup"
#file = input("Enter file to copy (without extention): ")
original_file = new_server + file + ".txt"
file_name, file_extension = os.path.splitext(original_file)
new_file = file_name + "_NEW_" + timestamp + file_extension
backup_file = file_name + "_BKP_" + timestamp + file_extension
shutil.copy(original_file, backup_file)
print("Backup created:",backup_file)

Backup created: files\test\newGroup_BKP_2024-03-10-18-28-07.txt

In [66]:
sdf = pd.read_csv('files\\test\modelGroup.txt', sep=':', names=["gname", "source_uid", "source_gid", "source_mem"])
sdf

        gname source_uid  source_gid                 source_mem
0        root      sdvsd         100                        NaN
1      unixsa   asdvasdv         101  nkumar10,draj,rrai,ksharm
2    oracledb    sdvasdv         102                abc,abd,abg
3  storageops     ssfeww         103       mganes,ysanam,jmitha
4        info      qwqew         104                  ravi,jitu
5         aaa     aedweu         105                        NaN

In [67]:
ddf = pd.read_csv("files\\test\\newGroup.txt", sep=':', names=["gname", "dest_uid", "dest_gid", "dest_mem"])
ddf

        gname  dest_uid  dest_gid        dest_mem
0        root     sdvsd       100             NaN
1      unixsa  asdvasdv       101             NaN
2    oracledb   sdvasdv       102     abc,abd,abg
3  storageops    ssfeww       103          mganes
4        engg   asaewwe       107  ahegde,saryaop

In [68]:
# Find common columns and indices
#common_cols = sdf.columns.intersection(ddf.columns)
#common_idx = ddf.index.intersection(ddf.index)
#common_idx

In [69]:
#all_values = pd.concat([sdf["gname"], ddf["gname"]]).unique()
#all_values

In [70]:
#final_mem_df = pd.DataFrame(index=all_values)
#final_mem_df

In [71]:
# Join DataFrames based on the first column using outer join
df_joined = sdf.merge(ddf, on="gname", how='outer')
df_joined["final_mem"] = df_joined["dest_mem"]
df_joined

,gname,source_uid,source_gid,source_mem,dest_uid,dest_gid,dest_mem,final_mem
0,root,sdvsd,100.0,NaN,sdvsd,100.0,NaN,NaN
1,unixsa,asdvasdv,101.0,"nkumar10,draj,rrai,ksharm",asdvasdv,101.0,NaN,NaN
2,oracledb,sdvasdv,102.0,"abc,abd,abg",sdvasdv,102.0,"abc,abd,abg","abc,abd,abg"
3,storageops,ssfeww,103.0,"mganes,ysanam,jmitha",ssfeww,103.0,mganes,mganes
4,info,qwqew,104.0,"ravi,jitu",NaN,NaN,NaN,NaN
5,aaa,aedweu,105.0,NaN,NaN,NaN,NaN,NaN
6,engg,NaN,NaN,NaN,asaewwe,107.0,"ahegde,saryaop","ahegde,saryaop"

In [72]:
def add_missing_members(smem, dmem):
    
    #Convert string to numpy for comparision
    slist = np.array(smem.split(","))
    dlist = np.array(dmem.split(","))
    
    #Comparing differences and adding missing members
    missing = np.setdiff1d(slist, dlist)
    dlist = np.concatenate((dlist, missing))
    
    #Converting nummpy back to string
    return np.array2string(dlist)[2:-2].replace("' '", ","), missing

In [73]:
for index, row in df_joined.iterrows():
    smem = row['source_mem']
    dmem = row['dest_mem']
    suid = row['source_uid']
    duid = row['dest_uid']
    group = str(row['gname'])
    print(str(row['gname']) +" | "+  str(smem) +" | "+ str(dmem))
    
    if duid is np.nan:
        df_joined['final_mem'][index] = smem
        df_joined['dest_uid'][index] = suid
        df_joined['dest_gid'][index] = df_joined['source_gid'][index]
        print("Added group("+group+"): ",smem)
    
    if smem == dmem:        ##Nothing to cmompare if the members already matches
        df_joined['final_mem'][index] = dmem
    elif smem is not np.nan and dmem is not np.nan:      ##Only add missing members to the group
        df_joined['final_mem'][index], missing = add_missing_members(str(smem), str(dmem))
        print("Members added to group("+group+"):",missing)
    elif smem is not np.nan:    ##Copy all members if model has no members
        df_joined['final_mem'][index] = smem
        print("Members added to group("+group+"): ",smem)
        
    print("------")

root | nan | nan
------
unixsa | nkumar10,draj,rrai,ksharm | nan
Members added to group(unixsa):  nkumar10,draj,rrai,ksharm
------
oracledb | abc,abd,abg | abc,abd,abg
------
storageops | mganes,ysanam,jmitha | mganes
Members added to group(storageops): ['jmitha' 'ysanam']
------
info | ravi,jitu | nan
Added group(info):  ravi,jitu
Members added to group(info):  ravi,jitu
------
aaa | nan | nan
Added group(aaa):  nan
------
engg | nan | ahegde,saryaop
------

C:\Users\asus\AppData\Local\Temp\ipykernel_15772\1324663868.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_joined['final_mem'][index] = smem
C:\Users\asus\AppData\Local\Temp\ipykernel_15772\1324663868.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_joined['final_mem'][index] = dmem
C:\Users\asus\AppData\Local\Temp\ipykernel_15772\1324663868.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_joined['final_mem'][index], missing = add_missing_members(str(smem), str(dmem))
C:\Users\asus\AppData\Local\Temp\ipykernel_15772\1324663868.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_joined['final_mem'][index] = smem
C:\Users\asus\AppData\Local\Temp\ipykernel_15772\1324663868.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_joined['dest_uid'][index] = suid
C:\Users\asus\AppData\Local\Temp\ipykernel_15772\1324663868.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_joined['dest_gid'][index] = df_joined['source_gid'][index]

In [74]:
df_joined = df_joined.astype({'dest_gid': 'int32'})
df_joined

,gname,source_uid,source_gid,source_mem,dest_uid,dest_gid,dest_mem,final_mem
0,root,sdvsd,100.0,NaN,sdvsd,100,NaN,NaN
1,unixsa,asdvasdv,101.0,"nkumar10,draj,rrai,ksharm",asdvasdv,101,NaN,"nkumar10,draj,rrai,ksharm"
2,oracledb,sdvasdv,102.0,"abc,abd,abg",sdvasdv,102,"abc,abd,abg","abc,abd,abg"
3,storageops,ssfeww,103.0,"mganes,ysanam,jmitha",ssfeww,103,mganes,"mganes,jmitha,ysanam"
4,info,qwqew,104.0,"ravi,jitu",qwqew,104,NaN,"ravi,jitu"
5,aaa,aedweu,105.0,NaN,aedweu,105,NaN,NaN
6,engg,NaN,NaN,NaN,asaewwe,107,"ahegde,saryaop","ahegde,saryaop"

In [77]:
df = df_joined.to_string(index=False, header=None, na_rep='$', columns=['gname','dest_uid','dest_gid','final_mem']).split('\n')
df = [':'.join(ele.split()) for ele in df]
df = [ele+"\n" for ele in df]
df = [element.replace('$','') for element in df]
df

['root:sdvsd:100:\n',
 'unixsa:asdvasdv:101:nkumar10,draj,rrai,ksharm\n',
 'oracledb:sdvasdv:102:abc,abd,abg\n',
 'storageops:ssfeww:103:mganes,jmitha,ysanam\n',
 'info:qwqew:104:ravi,jitu\n',
 'aaa:aedweu:105:\n',
 'engg:asaewwe:107:ahegde,saryaop\n']

In [76]:
file = open(new_file,"w")
file.writelines(df)
file.close()

In [62]:
import pandas as pd
data = [['United States', 10, 12], ['United Kingdom', 15, 25], ['France', 14, 18]] 
df = pd.DataFrame(data, columns = ['Country', 'Number1', 'Number2']) 

df['Country']=df['Country'].str.replace(' ','_')
df = df.to_string(index=False).split('\n')
df = [','.join(ele.split()) for ele in df]
df = [element.replace('_',' ') for element in df]
df = '\r\n'.join(df)
df = df.encode('utf8')
df

b'Country,Number1,Number2\r\nUnited States,10,12\r\nUnited Kingdom,15,25\r\nFrance,14,18'